* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 400px;
    height: 470px;
    min-height: 400px;
    text-align: center;
    margin-left: 750px;
    margin-right: 750px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box2 {
    width: 400px;
    height: 580px;
    min-height: 400px;
    text-align: center;
    margin-left: 750px;
    margin-right: 750px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headers1 {
    text-align: left;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
}

.logos {
    text-align: center;
    margin-top: 50px;
    width: auto;
}

input[type=text] {
    width: 75%;
    padding: 10px 12px;
    margin: 10px;
}

input[type=password] {
    width: 75%;
    padding: 10px 12px;
    margin: 10px;
}

.checkbox {
    text-align: left;
    margin-left: 52px;
}

.btn {
    width: 50%;
    padding: 10px 12px;
    margin: 10px;
    margin-bottom: 50px;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: lightgray;
    color: rgb(0, 0, 0);
}